body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: white;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: transparent;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  /*background: #ddd;*/
  background: transparent;
}

.sortBtn {
  font-size: 12px;
  font: 14px "Century Gothic", Futura, sans-serif;
  border: 0px;
  border-radius: 4px;
  color: #ff7272;
  background-color: transparent;
  transition-duration: 0.4s;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.sortBtn:hover{
  background-color: #ff7272;
  color: white;
}

.moveBtn {
  font: 14px "Century Gothic", Futura, sans-serif;
  border-radius: 4px;
  border: 2px solid #ff7272;
  color: #ff7272;
  background-color: transparent;
  transition-duration: 0.4s;
  margin-bottom: 10px;
}

.moveBtn:hover{
  background-color: #ff7272;
  color: white;
}

.game {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.game-content {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

