#header {
  font-size: 60px;
  margin-top: 35px;
  font-weight: normal;
  font-family: "Great Vibes", cursive;
  color: #f12469;
}

#msg {
  font-style: italic;
  font-size: 20px;
  color: grey;
}

#msg2 {
  font-style: italic;
  font-size: 10px;
  color: grey;
}

#button {
  border-radius: 30px;
  height: 30px;
  width: 400px;
  background-color: #f12469;
  font-size: 15px;
  color: #ffffff;
  margin:0 auto;
  padding-top: 10px;
}

body {
  font-family: "Libre Baskerville", serif;
  border-width: 20px;
  border-style: solid;
  border-color: #fcd2d8;
  text-align: center;
}


a {
  color: #ffffff;
  text-decoration: none;
}